        <article class="container">
            <header class="py-5">
                <h2>Oops! Page Not Found</h2>
                <p class="lead">The page you were looking for could not be found</p>
            </header>
            <section id="article-body">
                <p>Maybe you can find something at one of these pages</p>
                <ul>
                    <li class="list-header">For Customers</li>
                    <li>New Customer Signup</li>
                    <li>Existing Customer Login</li>
                </ul>
                <ul>
                    <li class="list-header">For Businesses</li>
                    <li>Platform Features</li>
                    <li>Software Integrations</li>
                    <li>Plans and Pricing</li>
                    <li>Register your Business</li>
                </ul>
                <ul>
                    <li class="list-header">Discover Us</li>
                    <li>About Us</li>
                    <li>View Locations</li>
                    <li>Contact Us</li>
                    <li>Become a Reseller</li>
                </ul>
                <ul>
                    <li class="list-header">Support</li>
                    <li>Frequently Asked Questions</li>
                    <li>Security and Privacy</li>
                    <li>Developer Information</li>
                    <li>Documentation</li>
                </ul>
            </section>
        </article>
