##
# Apache HTTP Configuration File
#
# The following require certain allow overrides, if you are getting '500: Internal Server Error', comment out each line
# one-by-one until the error no longer occurs. Can be resolved in Apache's 'httpd.conf to ensure security alternatives.
##

# Override and set Default Charset
AddDefaultCharset UTF-8

# Prevent directory listings
Options -Indexes

# Follow symbolic links - This is required on some hosts
Options +FollowSymLinks

# Set the default handler
DirectoryIndex index.php

# Block direct access to the XML files - They hold all the data! (When configured with XML Database)
<FilesMatch "(?<!sitemap|browserconfig|crossdomain)\.xml$">
    <IfModule !mode_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
    <IfModule mod_access_compat.c>
        Order allow,deny
        Deny from all
    </IfModule>
    <IfModule mod_authz_core.c>
        <IfModule !mod_access_compat.c>
            Require all denied
        </IfModule>
    </IfModule>
</FilesMatch>

# Handle rewrites for fancy urls
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    # Force HTTPS connections
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Developers SubDomain remap
    #RewriteCond %{HTTP_HOST} ^developers\.rewardingloyalty\.com\.au [NC]
    #RewriteRule ^(.*) index.php/developers/$1 [L,NC]

    # API SubDomain remap
    #RewriteCond %{HTTP_HOST} ^api\.rewardingloyalty\.com\.au [NC]
    #RewriteRule ^(.*) index.php/api/$1 [L,NC]

    # Prepend 'www' when no subdomain
    #RewriteCond %{HTTP_HOST} ^rewardingloyalty\.com\.au [NC]
    #RewriteRule ^(.*) https://www.rewardingloyalty.com.au/$1 [L,R=301]

    # Map the urls to CodeIgniter
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,NC]
</IfModule>
