<form class="form-signin pt-5">
    <div class="text-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="none" stroke="currentColor"
             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mb-4"
             role="img"
             viewBox="0 0 24 24" focusable="false">
            <title>Product</title>
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
        </svg>
        <h1 class="h3 mb-3 font-weight-normal">Customer Login</h1>
        <p>Build form controls with floating labels via the :placeholder-shown pseudo-element.</p>
    </div>
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus />
        <label for="inputEmail">Email Address</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />
        <label for="inputPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" />
            Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Sign in</button>
</form>
